/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
hr {
  border: none;
  height: 1px;
  background-color: #333;
  margin: 40px auto;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
header nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
  margin: 0 auto;
}
header nav a {
  margin-left: 30px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
}
header .header-box {
  background: #6f98a8;
  border-radius: 1%;
  width: 100%;
  margin: 0 auto;
}
header .content-box {
  width: 95%;
  height: 95%;
  margin: 0 auto;
  padding: 5% 20px;
}
header .content-box h1 {
  font-size: 3rem;
  padding-left: 3%;
  font-family: "Roboto", sans-serif;
}
header .content-box h2 {
  font-size: 1.3rem;
  padding-left: 3%;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  margin-top: 10px;
}
header .image-head {
  content: url(https://placeimg.com/640/480/people);
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  padding: 3% 20px;
}
header p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  padding-left: 3%;
}
header button {
  border: none;
  background: #a1d2ce;
  margin: 50px 0 0 3%;
  padding: 10px 1%;
  border-radius: 5%;
  color: white;
  font-size: 1.3rem;
}
header button:hover {
  background: #2f4550;
  cursor: pointer;
  padding: 10px 1.5%;
}
.middle-content {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  margin-bottom: 30px;
}
.middle-content .paragraph {
  width: 48%;
}
.middle-content .paragraph h2 {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}
.middle-content .paragraph p {
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  line-height: 1.5;
}
.middle-content .languages {
  width: 48%;
}
.middle-content .languages .lang-box {
  border: 1px solid gray;
}
.middle-content .languages .lang-box .lang-item {
  padding: 1%;
  border-bottom: 1px solid gray;
}
.middle-content .languages h2 {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}
.middle-content .languages p {
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}
.work table {
  font-family: arial, sans-serif;
  width: 100%;
}
.work td,
.work th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.work tr:nth-child(even) {
  background-color: #dddddd;
}
footer {
  text-align: center;
  background: #6f98a8;
  border-radius: 1%;
  margin-top: 20px;
  padding: 20px 0;
}
footer p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 900;
}
